.paragraphBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.paragraph {
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    color: var(--text-color);
    font-family: var(--font-family);
    font-style: var(--font-volume-style);
}
