/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
*/

/* Enable hover only on non-touch devices */
/*@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
*/

/* Mobile */
/*@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}
*/

/* Tablet and Smaller Desktop */
/*@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */


/* * {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: aliceblue;
} */


/* Header Part */
#header {
  height: 100px;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 2px solid black;
  background: linear-gradient(to bottom, rgb(0, 153, 255) 0%, rgb(0, 204, 255) 50%, rgb(252, 242, 223) 100%);
  display: flex;
  justify-content: space-between;
}

/* Three Blocks of Header */
#weather,
#clock,
#date {
  width: 170px;
  height: 50px;
  border: 2px orange dashed;
  border-radius: 20px;
  /* background-color: wheat; */
  margin: auto 0;
}

/* Weather Block */
#weather {
  display: flex;
  justify-content: center;
}

/* Rotation of Weather's Icon */
@keyframes sun_rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#weather_icon {
  width: 45px;
  height: 45px;
  overflow: hidden;
  /* border: 1px solid black;
  border-radius: 50%; */
  margin: auto 0;
  margin-right: 5px;
  animation: sun_rotating 15s linear infinite;
}

/* Weather Data */
#weather_line {
  width: 75px;
  height: 30px;
  /* border: 1px solid black; */
  margin: auto 0;
  margin-left: 5px;
  text-align: center;
}

#weather_degrees {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}



/* Clock Block */
#clock_time {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-top: 12px;
  /* border: 1px solid black; */
}



/* Date Block */
#current_date {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}



/* Central Part of Main Page */
#main_part {
  min-height: calc(100vh - 245px);
  display: flex;
  flex-direction: column;
}

.features {
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  margin: auto;
  width: 85vw;
}

.know0 {
  width: 70vw;
  height: 450px;
  border-top: 5px solid brown;
  border-right: 5px solid brown;
  border-bottom: 3px solid gold;
  border-left: 3px solid gold;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  justify-content: center;
  background-color: rgba(123, 97, 219, 0.407);
}

.feature_picture {
  width: 20vw;
  height: 250px;
  border: 7px double slateblue;
  border-radius: 30px;
  margin: auto 2vw auto 0;
}

.feature_list {
  border: 5px dotted olive;
  width: 35vw;
  height: 180px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: auto 0 auto 2vw;
  margin-top: 10vh;
  background-color: antiquewhite;
}

#list > li:first-child {
  margin-bottom: 10px;
}

#list > li {
  margin-top: 20px;
  margin-bottom: 20px;
}

#list > li:last-child {
  margin-top: 10px;
}



/* Buttons Part */
.buttons {
  display: flex;
}

#food_today,
#food_news,
#main_view {
  width: 50%;
  height: 70px;
  background-color: rgb(0, 204, 255);
  text-align: center;
  align-items: center;
  border: 3px solid black;
  text-decoration: none;
  color: antiquewhite;
  font-size: 28px;
  font-weight: 700;
  padding-top: 30px;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, color 0.5s ease;
}

#food_today:hover,
#food_news:hover,
#main_view:hover {
  background-color: antiquewhite;
  color: rgb(0, 204, 255);
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, color 0.5s ease;
}

/* .button_name {
  color: antiquewhite;
  font-size: 28px;
  font-weight: 700;
  border: 1px solid black;
} */