/* Central Part of Main Page */
#main_part {
    min-height: calc(100vh - 225px);
    display: flex;
    flex-direction: column;
    position: relative;
}


#calculator_div {
    min-height: 300px;
    width: 550px;
    outline: 2px black double;
    position: fixed;
    top: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
    backdrop-filter: blur(7px);
    background-color: rgba(250, 235, 215, 0.75);

    display: flex;
    justify-content: left;

    transition: right 0.9s ease;
    -webkit-transition: right 0.9s ease;
    -moz-transition: right 0.9s ease;
    -o-transition: right 0.9s ease;
    -ms-transition: right 0.9s ease;
}


/* Calculator Part */
#calculator {
    /* border: 3px dotted blue; */
    width: 450px;
    min-height: 200px;
    margin: auto;
}

#calculator_name {
    font-size: 18px;
    font-weight: bolder;
    /* border: 2px solid black; */
    border-radius: 20px/50%;
    text-align: center;
    height: 30px;
    padding-top: 5px;
}


.food_zone {
    /* border: 1px solid black; */
    padding-top: 5px;
    margin-bottom: 10px;
}

.food_lines {
    display: flex;
    width: 445px;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-bottom: 10px;
}

.food_pos {
    margin-left: 10px;
    margin-right: 5px;
    /* border: 1px solid black; */
    width: 25px;
    align-content: center;/* vertical aligning */
    text-align: center;/* horizontal aligning */
    font-size: 1.2rem;
}

.food_name,
.portions,
.food_price {
    margin-left: 5px;
    margin-right: 5px;
    /* border: 1px solid black; */
    width: 85px;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
}

.portions {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.food_canceling {
    margin-left: 5px;
    margin-right: 10px;
    /* border: 1px solid black; */
    width: 85px;
    align-content: center;
    text-align: center;
    font-size: 1.2rem;
}

.message_summa {
    /* display: flex;
    justify-content: space-around; */
    height: 50px;
    /* border: 1px dashed black; */
}

/* .importance {
    height: 30px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
}

.importance_block {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
} */

.price_sum {
    height: 30px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    align-content: center;
    width: 180px;
    font-size: 1.5rem;
}

#empty_table {
    padding: 5px 10px;
    align-content: center;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0.8);
    opacity: 0.8;
    border: 1px solid black;
    border-radius: 10px/10px;
    font-size: 1.2rem;
}
/**/


.list_fields_zone {
    min-height: 600px;
    width: 90vw;
    margin: 5px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#list_field {
    min-height: 560px;
    width: 22vw;
    /* border: 3px dashed purple; */
    box-shadow: 0px 0px 12px 0px rgba(66, 68, 90, 1);
    border-radius: 10%/5%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    margin: 15px 10px 15px 10px;
}

#list_field_image {
    width: 21vw;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_lines {
    margin-left: 3.5px;
    margin-right: 3.5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

#food_title,
#food_ing,
.portia_price {
    margin: 0 auto;
    margin: 10px 5px 15px 5px;
    font-size: 20px;    
}

#food_title {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

#food_ing {
    text-align: justify;
    text-indent: 10px;
}

.portia_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#portia,
#price {
    margin: 0 auto;
    margin-top: 20px;
    padding: 2px 3px;
}

#price:hover {
    cursor: pointer;
    outline: 2px solid;
    border-radius: 0.5px;
}



/* Buttons Part */
.buttons {
    display: flex;
}
  
#food_today,
#food_news,
#main_view {
    width: 50%;
    height: 70px;
    background-color: rgb(0, 204, 255);
    text-align: center;
    align-items: center;
    border: 3px solid black;
    text-decoration: none;
    color: antiquewhite;
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px;
    transition: background-color 0.5s ease, color 0.5s ease;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
    -moz-transition: background-color 0.5s ease, color 0.5s ease;
    -ms-transition: background-color 0.5s ease, color 0.5s ease;
}
  
#food_today:hover,
#food_news:hover,
#main_view:hover {
    background-color: antiquewhite;
    color: rgb(0, 204, 255);
    transition: background-color 0.5s ease, color 0.5s ease;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
    -moz-transition: background-color 0.5s ease, color 0.5s ease;
    -ms-transition: background-color 0.5s ease, color 0.5s ease;
}