.appearanceBox {
    /* height: 60vh; */
    border-radius: 1%/2%;
    padding: 1em;
    scroll-margin-top: 205px;
}

#appearanceBoxName {
    /* border: 1px solid black; */
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
    font-size: 2em;
    text-decoration: underline;
    margin-top: 0;
    font-weight: 700;
    color: var(--text-color);

    font-family: var(--font-family);
}
