/* Navbar with Sub Links */
.sub_links_panel {
    height: 70px;
    /* border: 1px solid black; */
}

.sub_links {
    height: 50px;
    width: 60vw;
    /* border: 1px solid orange; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub_link {
    height: 34px;
    border-radius: 15px;
    outline: 5px solid rgb(190, 189, 189);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: antiquewhite;
    background-color: gray;  
    text-align: center;
    align-items: center;
    transition: background-color 0.3s ease, outline 0.3s ease;
    -webkit-transition: background-color 0.3s ease, outline 0.3s ease;
    -o-transition: background-color 0.3s ease, outline 0.3s ease;
    -moz-transition: background-color 0.3s ease, outline 0.3s ease;
    -ms-transition: background-color 0.3s ease, outline 0.3s ease;
}

.sub_link:hover {
    background-color: rgb(190, 189, 189);
    outline: 5px solid gray;
    transition: background-color 0.3s ease, outline 0.3s ease;
    -webkit-transition: background-color 0.3s ease, outline 0.3s ease;
    -o-transition: background-color 0.3s ease, outline 0.3s ease;
    -moz-transition: background-color 0.3s ease, outline 0.3s ease;
    -ms-transition: background-color 0.3s ease, outline 0.3s ease;
}

.sub_link_disabled {
    height: 34px;
    border-radius: 15px;
    outline: 5px solid rgb(190, 189, 189);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 6px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: antiquewhite;
    background-color: gray;  
    text-align: center;
    align-items: center;
    pointer-events: none;
    opacity: 0.3;
}


/* Main Part of Sub Links' Pages */
#main_part {
    min-height: calc(100vh - 305px);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}


/* Calculator Part (temporarily in the "recipeday" page) */
#calculator {
    border: 3px dotted blue;
    width: 450px;
    height: 200px;
}

#calculator_name {
    font-size: 18px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 20px/50%;
    text-align: center;
    height: 30px;
    padding-top: 5px;
}

.message_summa {
    display: flex;
    justify-content: space-around;
    height: 50px;
    border: 1px dashed black;
}

.importance {
    height: 30px;
    border: 1px solid black;
}

.price_sum {
    height: 30px;
    border: 1px solid black;
}
