#main_part {
    min-height: calc(100vh - 305px);
    border: 1px solid black;
}

#article_body {
    min-height: 300px;
    /* border: 3px solid black; */
    border-radius: 30px;
    background-color: rgb(110, 110, 0);
    padding-bottom: 30px;
}

#article_enter_image {
    height: 500px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(110, 110, 0); */
    position: relative;
}

#article_enter_name {
    position: absolute;
    color: antiquewhite;
    bottom: 30px;
    right: 23vw;
}

#article_enter_head {
    font-style: italic;
    text-align: right;
}

#article_enter_shorty {
    font-weight: bolder;
    text-align: center;
}

#first_text {
    width: 90vw;
    margin: 0 auto;
    text-align: justify;
    /* padding: 0 50px; */
    /* margin-top: 10px; */
    margin-bottom: 100px;
    /* background-color: antiquewhite; */
    color: antiquewhite;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#first_text p {
    font-size: 28px;
}


#personal_data_block {
    width: 80vw;
    min-height: 100px;
    /* border: 5px dotted black; */
    margin: 0 auto;
    /* background-color: antiquewhite; */
    margin-top: 20px;
    padding: 20px 30px;
}

#personal_data_block p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    color: antiquewhite;
}

.personal_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo_data {
    border-radius: 40px;
}

.table_data {
    border-right: 6px solid gray;
    border-bottom: 5px solid gray;
    max-height: 600px;
    margin-left: 5vw;
    font-size: 30px;
    text-align: justify;
    flex-grow: 2;
    background-color: rgb(187, 187, 187);
    border-radius: 75px 30px;
}
.table_data > li:first-child {
    margin: 40px 60px 60px 60px;
}
.table_data > li {
    margin: 60px;
}
.table_data > li:last-child {
    margin: 60px 60px 40px 60px;
}


.article_part {
    margin-top: 10px;
    margin-bottom: 10px;

}

.article_image {
    height: 300px;
    border: 3px solid purple;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.article_text {
    border: 2px ridge orange;
    text-align: justify;
    padding: 5px 50px;
    margin-top: 10px;
    background-color: antiquewhite;
    font-size: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}