#main_part {
    min-height: calc(100vh - 305px);
    border: 1px solid black;
}

#searchline {
    border: 1px solid black;
}

#searchline_box {
    height: 75px;
    max-width: 20vw;
    border: 5px double dodgerblue;
    border-radius: 30px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to bottom,
        rgb(0, 204, 255) 0%,
        rgb(252, 242, 223) 30%,
        rgb(252, 242, 223) 50%,
        rgb(252, 242, 223) 70%,
        rgb(0, 204, 255) 100%
    );
}

#searchline_zone {
    height: 30px;
    width: 15vw;
    border-radius: 10px;
    padding: 0 5px;
}

.temporary_answer {
    height: 25px;
    width: calc(20vw - 20px);
    border: 2px solid orange;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 5px auto;
    padding: 2.5px 10px;
}

.temporary_answer_line {
    margin: 0 auto;
    height: 25px;
    font-weight: 900;
    font-size: 20px;
    text-decoration: underline;
    border: 1px solid black;
}