/* Central Part of Main Page */
#main_part {
    min-height: calc(100vh - 225px);
    display: flex;
    flex-direction: column;
    position: relative;
}


#calculator_div {
    min-height: 300px;
    width: 550px;
    border: 1px black dashed;
    position: fixed;
    top: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(250, 235, 215, 0.75);

    display: flex;
    justify-content: left;

    transition: right 0.9s ease;
    -webkit-transition: right 0.9s ease;
    -moz-transition: right 0.9s ease;
    -o-transition: right 0.9s ease;
    -ms-transition: right 0.9s ease;
}

/* #temporarily_p {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    align-content: center;
    margin: 0;
    margin-left: 5px;
} */


/* Calculator Part */
#calculator {
    border: 3px dotted blue;
    width: 450px;
    min-height: 200px;
    margin: auto;
}

#calculator_name {
    font-size: 18px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 20px/50%;
    text-align: center;
    height: 30px;
    padding-top: 5px;
}


.food_zone {
    border: 1px solid black;
    padding-top: 5px;
    margin-bottom: 10px;
}

.food_lines {
    display: flex;
    width: 445px;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-bottom: 10px;
}

.food_pos {
    margin-left: 10px;
    margin-right: 5px;
    /* border: 1px solid black; */
    width: 25px;
    align-content: center;/* vertical aligning */
    text-align: center;/* horizontal aligning */
}

.food_name,
.portions,
.food_price {
    margin-left: 5px;
    margin-right: 5px;
    /* border: 1px solid black; */
    width: 85px;
    align-content: center;
    text-align: center;
}

.portions {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.food_canceling {
    margin-left: 5px;
    margin-right: 10px;
    /* border: 1px solid black; */
    width: 85px;
    align-content: center;
    text-align: center;
}

.message_summa {
    display: flex;
    justify-content: space-around;
    height: 50px;
    /* border: 1px dashed black; */
}

.importance {
    height: 30px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
}

.importance_block {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.price_sum {
    height: 30px;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    align-content: center;
    width: 180px;
}
/**/


.list_fields_zone {
    min-height: 600px;
    width: 90vw;
    border: 5px solid orange;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#list_field {
    min-height: 560px;
    width: 22vw;
    border: 3px dashed purple;
    border-radius: 10%/5%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    margin: 15px 10px 15px 10px;
}

#list_field_image {
    width: 21vw;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}

.text_lines {
    border: 5px peru solid;
    border-radius: 20px;
}

#food_title,
#food_ing,
.portia_price {
    margin: 0 auto;
    margin: 10px 5px 15px 5px;
    font-size: 20px;    
}

#food_title {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

#food_ing {
    text-align: justify;
}

.portia_price {
    display: flex;
    justify-content: space-between;
}

#portia,
#price {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid brown;
}



/* Buttons Part */
.buttons {
    display: flex;
}
  
#food_today,
#food_news,
#main_view {
    width: 50%;
    height: 70px;
    background-color: rgb(0, 204, 255);
    text-align: center;
    align-items: center;
    border: 3px solid black;
    text-decoration: none;
    color: antiquewhite;
    font-size: 28px;
    font-weight: 700;
    padding-top: 30px;
    transition: background-color 0.5s ease, color 0.5s ease;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
    -moz-transition: background-color 0.5s ease, color 0.5s ease;
    -ms-transition: background-color 0.5s ease, color 0.5s ease;
}
  
#food_today:hover,
#food_news:hover,
#main_view:hover {
    background-color: antiquewhite;
    color: rgb(0, 204, 255);
    transition: background-color 0.5s ease, color 0.5s ease;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    -o-transition: background-color 0.5s ease, color 0.5s ease;
    -moz-transition: background-color 0.5s ease, color 0.5s ease;
    -ms-transition: background-color 0.5s ease, color 0.5s ease;
}